@page "/RVehiculos" 
@attribute [Authorize]
@inject IJSRuntime JS;




<div class="container">

    <div class="card">
        <div class="card-header">
            Registrar Vehiculos
        </div>
        <div class="card-body">
            <div class="form-group">
                Marca:
                <input class="form-control" @bind="Marca" />
            </div>
            <div class="form-group">
                Modelo:
                <input class="form-control" @bind="Modelo" />
            </div>
            <div class="form-group">
                Año:
                <input type="number" class="form-control" @bind="Year" />
            </div>
            <div class="form-group">
                Color:
                <input class="form-control" @bind="Color" />
            </div>
            <div class="form-group">
                Precio por dia (RD$):
                <input type="number" class="form-control" @bind="Precio" />
            </div>
            <div class="form-group">
                Tipo:
                <select class="form-control" @bind="Tipo">
                    <option value="Carro">Carro</option>
                    <option value="Moto">Moto</option>
                    <option value="Nave">Nave</option>
                    <option value="Barco">Barco</option>
                    <option value="Avion">Avion</option>
                    <option value="Camioneta">Camioneta</option>
                    <option value="Helicoptero">Helicoptero</option>

                </select>
            </div>
            <div class="form-group">
                Capacidad de Carga (Kg):
                <input type="number" class="form-control" @bind="Carga" />
            </div>
            <div class="form-group">
                Pasajeros:
                <input type="number" class="form-control" @bind="Pasajeros" />
            </div>
            <div class="form-group">
                Matricula:
                <input class="form-control" @bind="Matricula" />
            </div>
            <div class="form-group">
                Numero de Seguro:
                <input class="form-control" @bind="Seguro" />
            </div>
            <div class="form-group" >
                Foto:
                @if (vofEdit)
            {
                <div >
                    Foto Anterior:
                    <img src="@imgURL" width="100" height="100" />
                </div>
            }
                <BlazorInputFile.InputFile class="form-control" OnChange="Cambio" />
                <h3>@mensajeFoto</h3>
            </div>
            <div class="form-group">
                Ubicacion:
                <br />
                <button class="btn btn-info btn-block" @onclick="abrirModal">Seleccionar Ubicacion</button>
                <br />
                Latitud:
                <input type="number" id="lat" @bind="lat" class="form-control" disabled />
                Longitud:
                <input type="number" id="lng" @bind="lng" class="form-control" disabled />
            </div>
            <button class="btn btn-info btn-block" @onclick="Guardar">Guardar Registro</button>
            @if (vofFinish)
            {
                <br />
                <h1 class="alert alert-success">Datos Guardados Correctamente!</h1>
            }
        </div>


    </div>
    @if (vofTabla)
    {


                <table class="table table-responsive table-hover mt-5 text-center">
                    <thead>
                        <tr>
                            <th scope="col">
                                Foto
                            </th>
                            <th scope="col">
                                Carga
                            </th>
                            <th scope="col">
                                Color
                            </th>
                            <th scope="col">
                                Marca
                            </th>
                            <th scope="col">
                                Matricula
                            </th>
                            <th scope="col">
                                Modelo
                            </th>
                            <th scope="col">
                                Pasajeros
                            </th>
                            <th scope="col">
                                Precio por dia
                            </th>
                            <th scope="col">
                                Numero de Seguro
                            </th>
                            <th scope="col">
                                Tipo de Vehiculo
                            </th>
                            <th scope="col">
                                Año
                            </th>
                            <th scope="col">
                                Estado
                            </th>
                            <th scope="col">
                                Editar
                            </th>
                            <th scope="col">
                                Cambiar Estado
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in vehiculos)
                        {
                            <tr>
                                <td>
                                    <img src="@x.Foto" width="100" height="100" />
                                </td>
                                <td>
                                    @x.Carga Kg
                                </td>
                                <td>
                                    @x.Color
                                </td>
                                <td>
                                    @x.Marca
                                </td>
                                <td>
                                    @x.Matricula
                                </td>
                                <td>
                                    @x.Modelo
                                </td>
                                <td>
                                    @x.Pasajeros
                                </td>
                                <td>
                                    @x.Price Pesos
                                </td>
                                <td>
                                    @x.Seguro
                                </td>
                                <td>
                                    @x.Tipo
                                </td>
                                <td>
                                    @x.Year
                                </td>
                                <td>
                                    @if (x.Estado == "YES")
                                    {
                                        <h4>Activado</h4>
                                    }
                                    else
                                    {
                                        <h4>Desactivado</h4>
                                    }
                                </td>
                                <td>
                                    <button 
                                     class="btn btn-success btn-block" 
                                     @onclick="(() => Edit(x.ID,
                                       x.Carga,
                                       x.Color,
                                       x.Foto,
                                       x.Lat,
                                       x.Lng,
                                       x.Marca,
                                       x.Matricula,
                                       x.Modelo,
                                       x.Pasajeros,
                                       x.Price,
                                       x.Seguro,
                                       x.Tipo,
                                       x.Year
                                       ))">
                                    Editar
                                    </button>
                                </td>
                                <td>
                                 
                                        @if (x.Estado == "YES")
                                        {
                                    <button class="btn btn-danger btn-block" @onclick="(() => ChangeStatus(x.ID, NO))">Desactivar</button>

                                        }
                                        else
                                        {
                                <button class="btn btn-danger btn-block" @onclick="(() => ChangeStatus(x.ID, YES))">Activar</button>
                                        }
                                          
</td>
                            </tr>
                        }

                    </tbody>
                </table>


    }
    <div class="contenedor-modal-none" id="ventana">
        <div class="ventana">
            <table>


                <thead>
                    <tr><th><div id="map"></div></th></tr>
                </thead>
                <tbody><tr><td><button @onclick="cerrarModal" class="btn btn-dark btn-block">Guardar Ubicacion</button></td></tr></tbody>
            </table>
        </div>
    </div>
    <div class="mt-5"></div>
</div>
<h1>@mensajeFoto</h1>


@code {
    /////////////////
    Funciones fc = new Funciones();
    List<Vehiculos> vehiculos;
    /// Variables:
    string NO = "NO";
    string YES = "YES";
    bool vofTabla = false;
    public string url = "NADA";
    string mensajeFoto = "";
    public double lat;
    public double lng;

    public string ID = "";
    public string Marca = "";
    public string Modelo = "";
    public int Year = 2020;
    public string Color = "";
    public string Precio = "";
    public string Tipo = "Carro";
    public string Carga = "";
    public string Pasajeros = "";
    public string Matricula = "";
    public string Seguro = "";

    bool vofFinish = false;

    string statu = "";
    int editar = 0;
    bool vofEdit = false;
    string imgURL = "";
    int cambio = 0;

    /// METODOS


    ///IMAGEN
    public async Task Cambio(IFileListEntry[] files)
    {
        await fc.CargarImagen(files);

        mensajeFoto = "Imagen Seleccionada: " + files.FirstOrDefault().Name;
        cambio = 1;
    }

    public async Task Obtener()
    {

        url = await fc.ObtenerURL();

    }
    /// MAPA
    /// 



    async ValueTask<double> _Latitud()
    {
        return await JS.InvokeAsync<double>("latitud", lat);
    }
    async ValueTask<double> _Longitud()
    {
        return await JS.InvokeAsync<double>("longitud", lng);
    }



    async Task abrirModal()
    {

        await JS.InvokeVoidAsync("open", null);
        await JS.InvokeVoidAsync("addMapa", null);

    }
    async Task cerrarModal()
    {
        lat = await _Latitud();
        lng = await _Longitud();
        await JS.InvokeVoidAsync("close", null);



    }



    ////
    /// ENVIAR DATOS

    public async Task EnviarDatos()
    {
        await Obtener();
        vofFinish = false;
        HttpClient http = new HttpClient();


        string URI = "https://finalprog3-930fc-default-rtdb.firebaseio.com/Vehiculos.json";

        var values = new Vehiculos { Carga = Carga, Color = Color, Estado = "YES", Foto = url, Marca = Marca, Matricula = Matricula, Modelo = Modelo, Tipo = Tipo, Year = Year.ToString(), Pasajeros = Pasajeros, Price = Precio, Seguro = Seguro, Lat = lat.ToString(), Lng = lng.ToString() };
        var json = JsonConvert.SerializeObject(values, Formatting.Indented);

        var vehiculo = new StringContent(json);

        var res = await http.PostAsync(URI, vehiculo);
        if (res.IsSuccessStatusCode)
        {
            vofFinish = true;
            Carga = "";
            Color = "";


            url = "";
            Marca = "";
            Matricula = "";
            Modelo = "";
            Tipo = "Carro";
            Year = 2020;
            Pasajeros = "0";
            Precio = "0";
            Seguro = "";
            lat = 0;
            lng = 0;
            mensajeFoto = "";

            await OnInitializedAsync();
        }
    }


    ///ACTIVAR o DESACTIVAR

    async Task ChangeStatus(string id, string status)
    {
        HttpClient http = new HttpClient();


        string URI = "https://finalprog3-930fc-default-rtdb.firebaseio.com/Vehiculos/";

        var values = new { Estado = status };
        var json = JsonConvert.SerializeObject(values, Formatting.Indented);

        var vehiculo = new StringContent(json);

        statu = "Paso 1";


        var response = await http.PatchAsync(URI + id + ".json", vehiculo);

        statu = "Paso 2";

        if (response.IsSuccessStatusCode)
        {
            await OnInitializedAsync();

        }

    }


    /// Editar

    void Edit(string id,
        string carga,
        string color,

        string foto,
        string latitud,
        string longitud,
        string marca,
        string matricula,
        string modelo,
        string pasajeros,
        string price,
        string seguro,
        string tipo,
        string year
        )
    {
        vofFinish = false;

        editar = 1;
        ID = id;
        Carga = carga;
        Color = color;
        url = foto;
        lat = Convert.ToDouble(latitud);
        lng = Convert.ToDouble(longitud);
        Marca = marca;
        Matricula = matricula;
        Modelo = modelo;
        Pasajeros = pasajeros;
        Precio = price;
        Seguro = seguro;
        Tipo = tipo;
        Year = Convert.ToInt32(year);

        imgURL = url;
        vofEdit = true;



    }


    async Task Update()
    {
        if(cambio != 0)
        {
            await Obtener();
        }

        HttpClient http = new HttpClient();


        string URI = $"https://finalprog3-930fc-default-rtdb.firebaseio.com/Vehiculos/{ID}.json";

        var values = new Vehiculos { Carga = Carga, Color = Color,  Foto = url, Marca = Marca, Matricula = Matricula, Modelo = Modelo, Tipo = Tipo, Year = Year.ToString(), Pasajeros = Pasajeros, Price = Precio, Seguro = Seguro, Lat = lat.ToString(), Lng = lng.ToString() };
        var json = JsonConvert.SerializeObject(values, Formatting.Indented);

        var vehiculo = new StringContent(json);

        var response = http.PatchAsync(URI, vehiculo);
        if (response.Result.IsSuccessStatusCode)
        {
            vofEdit = false;
            editar = 0;
            vofFinish = true;
            cambio = 0;
           
            Carga = "";
            Color = "";


            url = "";
            Marca = "";
            Matricula = "";
            Modelo = "";
            Tipo = "Carro";
            Year = 2020;
            Pasajeros = "0";
            Precio = "0";
            Seguro = "";
            lat = 0;
            lng = 0;
            mensajeFoto = "";

            await OnInitializedAsync();
        }
    }

    /// Guardar


    async Task Guardar()
    {
        if(editar == 0)
        {
            await EnviarDatos();
        }
        else
        {
            await Update();
        }
    }

    /// OBTENER DATOS



    protected override async Task OnInitializedAsync()
    {


        HttpClient http = new HttpClient();
        string URI = "https://finalprog3-930fc-default-rtdb.firebaseio.com/Vehiculos.json";

        var response = await http.GetAsync(URI);

        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();

            var datos = JsonConvert.DeserializeObject<Dictionary<string, Vehiculos>>(content).ToList();

            var datos2 = from xd in datos
                         select new Vehiculos
                         {
                             ID = xd.Key,
                             Carga = xd.Value.Carga,
                             Color = xd.Value.Color,
                             Estado = xd.Value.Estado,
                             Foto = xd.Value.Foto,
                             Lat = xd.Value.Lat,
                             Lng = xd.Value.Lng,
                             Marca = xd.Value.Marca,
                             Matricula = xd.Value.Matricula,
                             Modelo = xd.Value.Modelo,
                             Pasajeros = xd.Value.Pasajeros,
                             Price = xd.Value.Price,
                             Seguro = xd.Value.Seguro,
                             Tipo = xd.Value.Tipo,
                             Year = xd.Value.Year

                         };

            vehiculos = datos2.ToList();
            vofTabla = true;


        }





    }



    /// 




    ///////////////////
}
